.Trip{
    min-height: 100vh;
    height: 100vh;
}

.Trip main{
    background-color: var(--orange);
    height: 375px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.Trip main img{
    width: 40%;
    border-radius: 20px;
}

.Trip main span{
    color: #fff;
}

.Trip h1{
    margin: 0;
    color: #fff;
    font-size: 50px;
}

.Trip .name{
    margin-right: 50px;
    display: grid;
}

.Trip .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Trip .infos .price{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.Trip .de-para, .Trip .date{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.Trip .price-buy{
    display: flex;
    align-items: center;
}

.Trip .price-buy button{
    width: 200px;
    border-radius: 5px;
    border: none;
    height: 50px;
    margin-left: 50px;
    font-weight: 600;
    color: var(--orange);
    cursor: pointer;
    outline: none;
}