.main-app {
    height: 375px;
    width: 100%;
    padding-top: 30px;
}

.main-app .trips {
    height: 100%;
    margin: 0 5%;
    color: rgb(50, 50, 50);
}

.main-app .trips-list {
    display: flex;
    justify-content: space-between;
}

.main-app .trip{
    width: 32%;
}


.main-app .trip img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}