.header-app{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-color: var(--orange);
}

.header-app .logo{
    width: 70px;
}

.header-app dl{
    display: flex;
    color: white;
}

.header-app dl dd{
    cursor: pointer;
    border-radius: 20px;
    margin-left: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-app dl dd:hover{
    background-color: rgba(255, 255, 255, 0.144);
}
